In [45]:
import copy
import pandas as pd
from tqdm import tqdm

In [12]:
excel_book = pd.read_excel('job01.xlsx', engine='openpyxl', index_col=0, sheet_name=None)

In [13]:
sheet01 = excel_book['Sheet1'].copy(deep=True)
display(sheet01)

,tnov,first_visit,set_drugs,chg_treatment,alive_dead,death_AIDS,death_cause,death_year,OUTCAIDS_ones,OUTCAIDS_change,...,drug_163_amount,drug_163_years,drug_193_amount,drug_193_years,drug_-8_amount,drug_-8_years,drug_290_amount,drug_290_years,drug_268_amount,drug_268_years
2723,1,-9.0,1,0,0,-1,-1.0,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2973,3,1999.0,1,2,1,1,1.0,2002.0,11.0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6036,11,1999.0,1,0,1,2,12.0,2004.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8129,1,1999.0,1,0,0,-1,-1.0,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8306,1,1999.0,1,1,0,-1,-1.0,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9278,32,1999.0,19,22,0,-1,-1.0,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4896,14,1999.0,20,23,1,1,1.0,2006.0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2796,28,1999.0,21,14,0,-1,-1.0,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2623,26,1999.0,22,33,1,0,NaN,2014.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5100,30,1999.0,22,32,0,-1,-1.0,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
common_cols = tuple(sheet01.keys()[:10])
sheet03 = pd.DataFrame({col: [] for col in sheet01.keys()[:10]})

for row in tqdm(sheet01.index):
    first_values = sheet01.loc[row][:10]
    last_values = sheet01.loc[row][10:].dropna()
    
    for i, col in enumerate(common_cols):
        sheet03.at[row, col] = first_values[i]
    
    counter = 0
    
    for j, elem in enumerate(last_values):
        num = j+1
        
        if num % 2 != 0:
            sheet03.at[row, f'Change{num - counter}'] = elem
            
        else:
            sheet03.at[row, f'Time{j - counter}'] = elem
            counter += 1
    
display(sheet03)
print(common_cols)

100%|██████████| 1789/1789 [00:02<00:00, 707.03it/s]

,tnov,first_visit,set_drugs,chg_treatment,alive_dead,death_AIDS,death_cause,death_year,OUTCAIDS_ones,OUTCAIDS_change,...,Change18,Time18,Change19,Time19,Change20,Time20,Change21,Time21,Change22,Time22
2723,1.0,-9.0,1.0,0.0,0.0,-1.0,-1.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2973,3.0,1999.0,1.0,2.0,1.0,1.0,1.0,2002.0,11.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6036,11.0,1999.0,1.0,0.0,1.0,2.0,12.0,2004.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8129,1.0,1999.0,1.0,0.0,0.0,-1.0,-1.0,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8306,1.0,1999.0,1.0,1.0,0.0,-1.0,-1.0,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9278,32.0,1999.0,19.0,22.0,0.0,-1.0,-1.0,NaN,NaN,0.0,...,2012.0,1.0,2003.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4896,14.0,1999.0,20.0,23.0,1.0,1.0,1.0,2006.0,0.0,0.0,...,2005.0,2.0,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2796,28.0,1999.0,21.0,14.0,0.0,-1.0,-1.0,NaN,NaN,1.0,...,1.0,1999.0,3.0,2011.0,7.0,2003.0,1.0,1999.0,NaN,NaN
2623,26.0,1999.0,22.0,33.0,1.0,0.0,NaN,2014.0,1.0,1.0,...,1.0,1999.0,1.0,2001.0,1.0,2004.0,1.0,2000.0,3.0,2012.0
5100,30.0,1999.0,22.0,32.0,0.0,-1.0,-1.0,NaN,NaN,0.0,...,3.0,1999.0,1.0,2005.0,4.0,1999.0,14.0,2008.0,7.0,2003.0

('tnov', 'first_visit', 'set_drugs', 'chg_treatment', 'alive_dead', 'death_AIDS', 'death_cause', 'death_year', 'OUTCAIDS_ones', 'OUTCAIDS_change')

In [56]:
sheet03.to_excel('job01_done.xlsx')